@import 'color-palette';

/* General */
$space-unit: 0.8rem;

/* Spacing */
$space-xxxs: $space-unit * 0.25; // 2px
$space-xxs: $space-unit * 0.5; // 4px
$space-xs: $space-unit; // 8px
$space-sm: $space-unit * 1.5; // 12px
$space-md: $space-unit * 2.5; // 20px
$space-lg: $space-unit * 4; // 32px
$space-xl: $space-unit * 6.5; // 52px
$space-xxl: $space-unit * 10.5; // 84px

/* Brand Variations */
$brand-primary: palette-color-level('wine', 100);
$brand-secondary: palette-color-level('sea', 100);
$brand-success: palette-color-level('green', 100);
$brand-warning: palette-color-level('yellow', 100);
$brand-danger: palette-color-level('red', 100);

/* Background Colors */
$brand-bg-color: palette-color-level('black', 0);
$brand-bg-color-variant: palette-color-level('black', 5);
$brand-bg-color-inverse: palette-color-level('black', 100);
$brand-bg-color-variant-inverse: palette-color-level('black', 80);

/* Text Colors */
$brand-text-color: palette-color-level('black', 100);
$brand-text-secondary-color: palette-color-level('black', 40);
$brand-text-color-inverse: palette-color-level('black', 0);
$brand-text-secondary-color-inverse: palette-color-level('black', 40);

/* Links */
$brand-link-color: palette-color-level('sea', 100);
$brand-link-hover-color: palette-color-level('sea', 120);

/* Borders */
$brand-border-color: palette-color-level('black', 15);
$brand-border-color-inverse: palette-color-level('black', 80);
$brand-border-radius: $space-xxs;

/* Animation Language */
$brand-transition-duration: 250ms;
$brand-easing-curve: cubic-bezier(0.17, 0.67, 0.83, 0.67);
$brand-fade-animation-transition: opacity $brand-transition-duration * 4 $brand-easing-curve;

/* Utils */
@function foreground-color($bgcolor, $threshold: 0.33) {
  $lightness: lightness($bgcolor) / 100%;
  @return if($lightness < $threshold, $brand-text-color-inverse, $brand-text-color);
}
